---
layout: default
title: Home
---

{% assign posts_sorted = site.posts | sort: 'date' | reverse %}
{% assign featured = posts_sorted | first %}
{% assign others = posts_sorted | slice: 1, 100 %}

<!-- Featured/latest at top -->
<section class="mb-12">
  {% if featured %}
    <div class="font-bold w-full text-red-500 flex items-center justify-between mb-3">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 rounded-full animate-ping bg-red-500"></div>
        <div class="w-2 h-2 rounded-full bg-red-500 absolute"></div>
        LATEST
      </div>
      <p class="text-xs font-medium">{{ featured.date | date: "%b %-d, %Y" }}</p>
    </div>

    <a href="{{ featured.url | relative_url }}" class="block group">
      <h2 class="dm-serif font-bold text-4xl py-1 group-hover:underline">{{ featured.title }}</h2>
      {% if featured.hero %}
        <img src="{{ featured.hero }}" alt="" class="my-4">
      {% endif %}
      {% if featured.excerpt %}
        <p class="text-neutral-700">{{ featured.excerpt }}</p>
      {% endif %}
    </a>
  {% endif %}
</section>

<!-- All other posts -->
<section class="space-y-8">
  <p class="text-xs text-neutral-500">Post count: {{ site.posts | size }}</p>
  
  {% for post in others %}
    <article>
      <a href="{{ post.url | relative_url }}" class="block group">
        <h3 class="dm-serif font-bold text-2xl group-hover:underline">{{ post.title }}</h3>
        <p class="text-xs text-neutral-500 mb-2">{{ post.date | date: "%b %-d, %Y" }}</p>
        {% if post.excerpt %}
          <p class="text-neutral-700">{{ post.excerpt }}</p>
        {% endif %}
      </a>
    </article>
  {% endfor %}
</section>
