{% assign now_ts = 'now' | date: '%s' | plus: 0 %}
{% assign yesterday_ts = now_ts | minus: 86400 %}

{% assign today_str = now_ts | date: "%Y-%m-%d" %}
{% assign yday_str  = yesterday_ts | date: "%Y-%m-%d" %}
{% assign post_str  = include.date | date: "%Y-%m-%d" %}

{% if post_str == today_str %}
  Today – {{ include.date | date: "%I:%M %p" }}
{% elsif post_str == yday_str %}
  Yesterday – {{ include.date | date: "%I:%M %p" }}
{% else %}
  {{ include.date | date: "%b %-d, %Y – %I:%M %p" }}
{% endif %}
